# Auto detect text files and perform LF normalization
* text=auto
<code>
*.js linguist-language=android
*.css linguist-language=android
*.xml linguist-language=android
*.html linguist-language=android
*.java linguist-language=android
*.c linguist-language=android
</code>
